@font-face {
	src: url(fonts/Jost-VariableFont_wght.ttf);
	font-family: texts;
}

@font-face {
	src: url(fonts/PROPAGAN.ttf);
	font-family: head;
}

:root {
	--length: 0vw;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	border: 2px solid black;
	background-image: linear-gradient(120deg,#fd9644,#e15f41);
	/*background-image: linear-gradient(120deg,#ffc048,#fd9644);*/
}

.header {
	position: absolute;
	top: 20px;
	height: 20vh;
	width: 100%;
	text-align: center;
	color: yellow;
	font-family: head;
	font-size: 35px;
}

#icon {
	font-size: 35px;
	position: relative;
	top: 1px;
}

#icon:hover {
	cursor: pointer;
}

.upper {
	position: absolute;
	top: 170px;
}

.entry {
	width: 100%;
	height: auto;
	border-bottom: 2px solid gray;
	padding: 8px 0 8px 16px;
	font-size: 25px;
	font-family: texts;
	transition: all 0.3s;
}

.new {
	position: absolute;
	top: 230px;
	display: flex;
	width: 100%;
	height: 60vh;
	flex-direction: column;
	align-items: center;
}

.lower {
	position: relative;
	width: 40%;
	margin-top: 40px;
	background: white;
	max-height: 200px;
	overflow: auto;
}

#check {
	font-size: 25px;
	float: right;
	margin: 0 10px;
}

.g {
	color: green;
	position: relative;
	top: 3px;
}

.g:hover {
	background-color: green;
	color: white;
}

.r {
	color: red;
	position: relative;
	top: 3px;
}

.r:hover {
	background-color: red;
}

.btn {
	position: absolute;
	right: 4px;
	outline: none;
	border: none;
	background: none;
}

.add {
	width: 300px;
	padding: 10px;
}

#refresh {
	margin-top: 30px;
	margin-left: 10px;
	color: white;
	font-size: 25px;
}

.refresh {
	position: relative;
	right: 10px;
	font-family: texts;
	font-size: 25px;
	color: white;
}

.refresh:hover {
	cursor: pointer;
}
.refresh:hover #refresh{
	transition: all 0.5s;
	transform: rotate(180deg);
}

.bar {
	border: 6px solid #b8e994;
	background-color: #b8e994;
	position: absolute;
	right: 410px;
	bottom: 60px;
	height: 35px;
	width: 40vw;
	/*padding: 5px;*/
	border-radius: 20px;
	overflow: hidden;
}

.inner {
	border-radius: 20px;
	height: 25px;
	width: 0vw;
	background-image: linear-gradient(
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
	box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    animation: move 2s linear;
    animation-fill-mode: forwards;
}

.inner::after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 20px;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  overflow: hidden;
  animation: roll 2s linear, back 2s linear infinite;
  animation-fill-mode: forwards;
}

.percent {
	position: absolute;
  	bottom: 64px; right: 420px;
	font-family: texts;
	font-size: 19px;
	font-weight: bolder;
	color: #2c2c54;
}

@keyframes move {
	0% {
		width: 0vw;
		overflow-x: hidden;
	}

	100% {
		width: var(--length);
		overflow-x: hidden;
	}
}

@keyframes back {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 50px 50px;
	}
}

@keyframes roll {
	0% {
		width: 0vw;
	}

	100% {
		width: var(--length);
	}
}
